port java.util.Scanner;                //to take input from user
public class Main {
    public static void main(String[] args) {// PascalConvention-classes
            Scanner sc = new Scanner(System.in);
        int ans =0;
        while (true){
            System.out.print("Enter the operator: ");
            char ch = sc.next().trim().charAt(0);
            if (ch == '+' || ch == '-' || ch =='*' || ch == '/' || ch == '%') {
                System.out.print("Enter 2 numbers to perform operation: ");
                int num1 = sc.nextInt();
                int num2 = sc.nextInt();
                if (ch == '+') {
                    ans = num1 + num2;
                }
                if (ch == '-') {
                    ans = num1 - num2;
                }
                if (ch == '*') {
                    ans = num1 * num2;
                }
                if (ch == '/') {
                    if (num2 != 0) {
                        ans = num1 / num2;
                    }
                }
                if (ch == '%') {
                    ans = num1 % num2;
                }
            } else if(ch == 'x' || ch == 'X'){
                    break;
            } else{
                    System.out.println("Invalid Operation");
                }
                System.out.println(ans);
            }
    }

}
